.uppertext {
  background-color: #404040;
  color: #ec7807;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
}
.exercise {
  padding: 0.5rem;
  border-bottom: 1px solid #404040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.exercise img {
  width: 4rem;
  height: 4rem;
  object-fit: fill;
}
.container {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-radius: 5px;
}
.containerExercise {
    height: 60vh;
  overflow-y: scroll;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #f32121;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
